@use "../../common/bp.scss" as bp;
@use "../../common/colors.scss" as c;

#projects {
    display: flex;
    flex-direction: column;

    &-title {
        text-align: center;
    }

    &-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 12pt;
        $shadow-drop: 4px;
        filter: drop-shadow($shadow-drop $shadow-drop 0px c.$white-accent-1);


        @include bp.ls {
            flex-direction: row;
        }

        .project {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 11pt;
            padding: 6pt !important;
            flex: 1;
            border-radius: 5px;
            background-color: c.$white-accent;

            @include bp.ls {
                min-width: 400px;
                max-width: 50vh;
            }

            border: 1px solid c.$accent-1;

            margin: 6pt;

            &:hover {
                background-color: c.$white-accent-2;
            }

            &-top {
                flex: 1;
                width: 100%;
            }

            &-bottom {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                >div:nth-child(1) {
                    flex: 1
                }

                @include bp.ls {
                    padding-right: 6pt !important;
                    flex-direction: row;
                    align-items: center;
                }
            }

            @include bp.ls {
                padding-right: 6pt !important;
            }

            padding-right: 10pt !important;

            text-align: justify;

            p:not(&-name) {
                margin: 0 0 6pt 0;
            }

            &-img {
                margin-left: 10pt;
                margin-bottom: 6pt;
                float: right;
                display: flex;
                overflow: hidden;

                img {
                    object-fit: cover;
                    aspect-ratio: 1 / 1;

                    @include bp.ls {
                        height: 16vh;
                    }

                    height: 15vh;
                }
            }

            &-info {
                font-size: 14pt;
                margin: 0;
                color: c.$lighter-background;
                text-align: center;
                margin-top: -10pt;
                font-style: italic;
            }

            &-name {
                text-transform: uppercase;
                font-size: 2.7vh;
                margin: 0;
                font-weight: bolder;
                text-align: center;

                &::first-letter {
                    font-size: 3vh;
                }
            }

            &-tags {
                &-label {
                    padding: 4pt 0;
                    font-weight: bolder;
                    text-decoration: underline;
                }
            }

            &-button {
                display: block;
                background-color: c.$background;
                color: c.$white-accent;
                padding: 4pt;
                border-radius: 5px;
                margin-left: 12pt;

                &:hover {
                    color: c.$white-accent;
                    background-color: c.$lighter-background;
                }

                &-red {
                    background-color: c.$red-dark;

                    &:hover {
                        background-color: c.$red;
                    }
                }
            }
        }
    }

}