.vertical_border {
    background: url("./img/vert_border.png");
    background-size: 100% 100%;
    height:100%;
    width:10px;
}

.horizontal_border {
    background: url("./img/bottom_border.png");
    background-size: 100% 100%;
    height:10px;
    width:100%;
}