@use "../../common/colors.scss" as color;

$page-steepness: 3%;
$inner-steepness: 3.5%;
$end-perc: 1%;
$inner-shrink: 98%;

.page {
    // Size
    width: 100%;
    height: 100%;

    // Page format
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Clip
    .page-inner {
        width: 100%;
        height: $inner-shrink;

        // Page format
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}