@use "../../common/colors.scss" as c;

$page-steepness: 3%;
$inner-steepness: 3.5%;
$end-perc: 1%;
$inner-shrink: 98%;

.page {
    // Size
    width: 100%;

    // Page format
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Clip
    .page-inner {
        width: 100%;
        height: $inner-shrink;

        // Page format
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

.title {
    $titleMargin: 0.5em;
    margin: $titleMargin 0 $titleMargin 0;
    font-size: 4vh;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: c.$accent-1;

    &:hover {
        color: c.$link-accent;
    }
}