@use "../../../../common/bp.scss";
@use "../../../../common/colors.scss" as c;

$width: clamp(200px, 40vw, 350px);
$border-width: 3px;

#logo {
    // Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    user-select: none;

    img {
        width: $width;
        height: $width;

        // Aspect
        border-radius: 50%;
        overflow: hidden;
        border: $border-width solid c.$white-accent;
        z-index: 1000;
        user-select: none;
    }

    h1,
    h2 {
        color: c.$white-accent;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        margin: 0;
        margin-top: 1em;
    }

    h1 {
        font-size: 5vmax;
        margin-top: 12pt;

        @include bp.ls {
            font-size: 2.5vmax;
        }
    }

    h2 {
        font-size: 2.5vmax;
        font-weight: lighter;
        line-height: 1.6em;

        .italic {
            font-style: italic;
        }

        @include bp.ls {
            font-size: 1.2vmax;
        }
    }
}