body {
    margin:0;
    padding: 0;

    width: 100%;
    height: 100%;
}
#loadingMask {
    position: absolute;
    width:100%;
    height:100%;
    z-index: 10000;
    background: rgb(15, 15, 15);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
#loadingMask.hide {
    animation-name: hideLoading;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}
#loadingMask.show {
    animation-name: showLoading;
    animation-duration: 0.75s;
    animation-iteration-count: 1;}

#loadingMask>div {
    margin-right: 40px;
    margin-bottom: 30px;
    color:white;

    opacity: 0.8;

    display: flex;
    flex-direction: row;
    align-items: center;
}
#loadingMask>div>div:last-child::after {
    animation-name: loadingPoint;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    content: "...";
}
#loadingIcon {
    animation-name: loadingIcon;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    font-size: 20pt;

    transform: rotate(0deg);

    padding-bottom: 5px;
    padding-right:1px;

    margin-right:5px;
}
/*
        Animations
*/
@keyframes loadingPoint {
    0% {
        content:"   ";
    }
    25% {
        content:".  ";
    }
    50% {
        content:".. ";
    }
    75% {
        content:"...";
    }
    100% {
        content:"   ";
    }
}
@keyframes loadingIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes showLoading {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes hideLoading {
    0% {
        display: block;
        opacity: 1;
    }
    100% {
        display: block;
        opacity: 0;
    }
}