@use "../../../common/bp.scss";
@use "../../../common/colors.scss" as c;

$base-rotation: 0deg;
$oscillation: 2deg;
$oscillating-time: 30s;

@keyframes oscillating {
    0% {
        transform: rotate($base-rotation+$oscillation);
    }

    50% {
        transform: rotate($base-rotation - $oscillation);
    }

    100% {
        transform: rotate($base-rotation+$oscillation);
    }
}

$mask-gradient: radial-gradient(white 0%, white 50%, rgba(0, 0, 0, 0.0) 70%);

$home-height: 105vh;

#home {
    height: $home-height;
    filter: drop-shadow(0px 10px 0px c.$background) drop-shadow(0px 10px 0px c.$accent-1);
}

#background-color {
    width: 100%;
    height: $home-height;
    position: absolute;
    background-color: c.$background;
    z-index: 0;
    top: 0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 96%, 100% 0%);
}

.background {
    width: 100%;
    height: $home-height;
    position: absolute;
    left: 0;
    margin: 0;
    overflow: hidden;
    /* Backgrounds */
    background-image: url("../../../../back_imgs/triangles\ sympa 90.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @include bp.ls {
        background-image: url("../../../../back_imgs/triangles\ sympa.svg");
        background-size: 83%;
    }


    filter: invert(100%) blur(0.6px) opacity(0.5) c.$shape-shadow;
    -webkit-mask-image: radial-gradient(circle at center, 0% white, 100% black);
    //mask-image: linear-gradient(circle at center, 0% white, 100% transparent);
    -webkit-mask-image: $mask-gradient;
    mask-image: $mask-gradient;
    z-index: -1;

    animation: oscillating $oscillating-time;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}