@use "../../common/colors.scss" as color;

.list {
    background-color: color.$background-light !important;
    clip-path: unset;
    display: flex;
    flex-direction: column;

    .spacer {
        flex: 1;
    }

    .list-header {
        display: flex;
        flex-direction: row;
        width: 97%;
        margin-top: 1vh;
        border-bottom: 1px solid black;
        align-items: center;
        padding-right: 1vw;

        .page-name {
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .list-frame {
        flex: 1;
    }
}

.clickable:hover {
    cursor: pointer;
}