// Main colors
$background: #090d18;
$light-background: #0d1322;
$lighter-background: #202837;
$frame-background: #0d1322;

// For other pages
$background-light: rgb(255, 255, 255);

// Accents
$white-accent: white;
$accent-0: #b3e8f8;
$accent-1: #97daeec0;

// Geometrical Shapes 
$shape-accent-1: #fff3be;
$shape-accent-2: #a971f3;
$shape-accent-3: #97daeec0;
$shape-shadow: drop-shadow(5px 10px 5px $shape-accent-1) drop-shadow(-5px -5px 5px $shape-accent-2) drop-shadow(-5px -5px 5px $shape-accent-3);