@use "../common/bp.scss";

body {
    background-color: rgb(9, 13, 24);
}

$base-rotation: 0deg;
$oscillation: 2deg;
$oscillating-time: 30s;

@keyframes oscillating {
    0% {
        transform: rotate($base-rotation+$oscillation);
    }

    50% {
        transform: rotate($base-rotation - $oscillation);
    }

    100% {
        transform: rotate($base-rotation+$oscillation);
    }
}

$mask-gradient: radial-gradient(white 0%, white 50%, rgba(0, 0, 0, 0.0) 70%);

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;

    /* Backgrounds */
    background-image: url("../back_imgs/triangles\ sympa 90.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @include bp.ls {
        background-image: url("../back_imgs/triangles\ sympa.svg");
        background-size: 83%;
    }


    filter: invert(100%) blur(0.6px) opacity(0.5) drop-shadow(5px 10px 5px #fff3be) drop-shadow(-5px -5px 5px #a971f3) drop-shadow(-5px -5px 5px #97daeec0);
    -webkit-mask-image: radial-gradient(circle at center, 0% white, 100% black);
    //mask-image: linear-gradient(circle at center, 0% white, 100% transparent);
    -webkit-mask-image: $mask-gradient;
    mask-image: $mask-gradient;
    z-index: -1;

    animation: oscillating $oscillating-time;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}