@use "../../common/colors.scss" as c;
@use "../../common/bp.scss";

$about-pad-mobile: 1em;
$about-pad-desktop: 5em;

.about {
    // color: c.$white-accent;
    display: flex;
    flex-direction: column;

    padding: $about-pad-mobile;
    height: calc(100vh - 2*$about-pad-mobile);
    width: calc(100vw - 2*$about-pad-mobile);

    @include bp.ls {
        padding: $about-pad-desktop;
        height: calc(100vh - 2*$about-pad-desktop);
        width: calc(100vw - 2*$about-pad-desktop);
    }

    background-color: c.$white-accent;

    .about-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex: 6;

        @include bp.ls {
            flex-direction: row;
        }

        .contact {
            flex: 2;
            margin-bottom: 1em;

            @include bp.ls {
                flex-direction: row;
                margin-right: 2em;
            }
        }

        .presentation {
            flex: 5;
        }
    }

    .about-bottom {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}