.presentation {
    padding: 12pt;

    .sectionTitle {
        $titleMargin: 0.5em;
        margin: $titleMargin 0 $titleMargin 0;
        font-size: 4vh;
        font-weight: bold;
    }

    p {
        margin: 0;
        margin-bottom: 12pt;
        line-height: 1.6;
    }
}