// Main colors
$background: rgb(9, 13, 24);
$light-background: rgb(13, 19, 34);
$lighter-background: rgb(31, 39, 54);

// Accents
$white-accent: white;
$accent-0: #b3e8f8;
$accent-1: #97daeec0;

// Geometrical Shapes 
$shape-accent-1: #fff3be;
$shape-accent-2: #a971f3;
$shape-accent-3: #97daeec0;
$shape-shadow: drop-shadow(5px 10px 5px $shape-accent-1) drop-shadow(-5px -5px 5px $shape-accent-2) drop-shadow(-5px -5px 5px $shape-accent-3);